# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
*.db
*.db-wal
*.db-shm

# Environment
.env
.env.local
.env.*.local

# Node
node_modules/
frontend/dist/
frontend/.env
frontend/.env.local

# Uploads
uploads/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
npm-debug.log*

proton-recovery-phrase (4).pdf
proton-recovery-phrase (4).pdf:Zone.Identifier